body{
    background-image: linear-gradient(to top, #000000, #484848);
    margin: 0;
    padding: 0;
}
.login, .signup{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.login-form{
    min-height: 80vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 300px;
    margin: 2rem;
    margin-bottom: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.5s ease;
}
.login-form:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-weight: 900;
    word-spacing: 1.5px;
}
i{
    position: relative;
    left: 85%;
    transform: translateY(-33px);
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
.mb-2{
    width: 14rem;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}